{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Best Dive Locations</h2>
    <div class="locations">
        {% for location in locations %}
            <div class="location">
                <h3>{{ location.name }}</h3>
                <p>{{ location.description }}</p>
                <p><strong>Best Season:</strong> {{ location.best_season }}</p>
                {% if location.image %}
                    <img src="{{ location.image.url }}" alt="Location Image">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
